# Environment variables & Secrets
.env
env.js
frontend/env.js
backend/.env
backend/firebase_credentials.json

# Environment/dependencies
node_modules/
__pycache__/
venv/
.venv/
.pytest_cache/

# Logs and Build
logs/
*.log
.DS_Store
